body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  background-color: hsl(from 0deg 0% 98%);
}

#nave {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  font-size: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px hsl(from 0deg 0% 0% / 10%);
}

a:hover {
  color: hsl(from 340deg 100% 50%);
}

h1 {
  font-size: 80px;
  margin: 0;
  text-shadow: 2px 2px 5px hsl(from 0deg 0% 0% / 30%);
}

#shopnow {
  background: hsl(from 340deg 100% 50%);
}

#shopnow:hover {
  background: hsl(from 340deg 80% 40%);
}

#presentation {
  box-shadow: 0 4px 10px hsl(from 0deg 0% 0% / 10%);
}

input[type="submit"] {
  background: hsl(from 340deg 100% 50%);
}

input[type="submit"]:hover {
  background: hsl(from 340deg 80% 40%);
}

#imagevideo {
  text-shadow: 2px 2px 10px hsl(from 0deg 0% 0% / 30%);
}